<%- include("partials/_header") %>

<div class="main-card">
  
  <div class="left-child-card">
    <a href="/tabs/weather" style="text-decoration: none; background-color: none;"><div class="left-tab"><img class="img-tab" src="/images/weather-tab.png">Weather</div></a>
    <a href="/tabs/cities" style="text-decoration: none; background-color: none;"><div class="left-tab" style="opacity: 100%"><img class="img-tab" src="/images/cities-tab.png">Cities</div></a>
    <a href="/tabs/map" style="text-decoration: none; background-color: none;"><div class="left-tab"><img class="img-tab" src="/images/map-tab.png">Map</div></a>
    <a href="/tabs/settings" style="text-decoration: none; background-color: none;"><div class="left-tab"><img class="img-tab" src="/images/settings-tab.png">Settings</div></a>
  </div>
  
  <div class="middle-child-card">
    <div class="search-child-card">
      <form onsubmit="
      if (localStorage.getItem('city4') !== null) {localStorage.setItem('city5', localStorage.getItem('city4'));}
      if (localStorage.getItem('city3') !== null) {localStorage.setItem('city4', localStorage.getItem('city3'));}
      if (localStorage.getItem('city2') !== null) {localStorage.setItem('city3', localStorage.getItem('city2'));}
      if (localStorage.getItem('city1') !== null) {localStorage.setItem('city2', localStorage.getItem('city1'));}
      if (localStorage.getItem('city0') !== null) {localStorage.setItem('city1', localStorage.getItem('city0'));}
      localStorage.setItem('city0', document.getElementById('searchbarID').value);
      localStorage.removeItem('latitude');
      localStorage.removeItem('longitude');
      " style="display: inline-block;">
        <input type="text" name="searchbar" id="searchbarID" class="searchbar" autocomplete="off" placeholder="Search for cities" autofocus>
      </form>
      <div style="float: right; margin-top: 7px; margin-right: 15px; cursor: pointer;" onclick="getLocation()"><img style="width: 35px; height: auto;" id="gps" src="/images/gps.png"></div>
    </div>
    
    <div class="cities" id="cities-tab-0">
    <div id="container" style="width: 100%; margin-top: 15px;">
      <div><img class="cities-image" id="cities-icon-0" src="/images/blank.png"><div class="cities-text" id="cities-title-0"></div></div>
      <div class="cities-temp" id="cities-temp-0"></div>
    </div>
    </div>

    <div class="cities" id="cities-tab-1">
    <div id="container" style="width: 100%; margin-top: 15px;">
      <div><img class="cities-image" id="cities-icon-1" src="/images/blank.png"><div class="cities-text" id="cities-title-1"></div></div>
      <div class="cities-temp" id="cities-temp-1"></div>
    </div>
    </div>

    <div class="cities" id="cities-tab-2">
    <div id="container" style="width: 100%; margin-top: 15px;">
      <div><img class="cities-image" id="cities-icon-2" src="/images/blank.png"><div class="cities-text" id="cities-title-2"></div></div>
      <div class="cities-temp" id="cities-temp-2"></div>
    </div>
    </div>

    <div class="cities" id="cities-tab-3">
    <div id="container" style="width: 100%; margin-top: 15px;">
      <div><img class="cities-image" id="cities-icon-3" src="/images/blank.png"><div class="cities-text" id="cities-title-3"></div></div>
      <div class="cities-temp" id="cities-temp-3"></div>
    </div>
    </div>

    <div class="cities" id="cities-tab-4">
    <div id="container" style="width: 100%; margin-top: 15px;">
      <div><img class="cities-image" id="cities-icon-4" src="/images/blank.png"><div class="cities-text" id="cities-title-4"></div></div>
      <div class="cities-temp" id="cities-temp-4"></div>
    </div>
    </div>

    <div class="cities" id="cities-tab-5">
    <div id="container" style="width: 100%; margin-top: 15px;">
      <div><img class="cities-image" id="cities-icon-5" src="/images/blank.png"><div class="cities-text" id="cities-title-5"></div></div>
      <div class="cities-temp" id="cities-temp-5"></div>
    </div>
    </div>

  </div>

  <div class="right-child-card">
    <div class="text-faded">SEARCHING HISTORY</div> <form style="float: right; margin-top: -10px;"><input type="submit" onclick="
      localStorage.removeItem('city0');
      localStorage.removeItem('city1');
      localStorage.removeItem('city2');
      localStorage.removeItem('city3');
      localStorage.removeItem('city4');
      localStorage.removeItem('city5');
      localStorage.removeItem('latitude');
      localStorage.removeItem('longitude');
      " value="Clear" class="button-conditions"></form>

    <div style="position: relative; top: 40px; left: 20px;">
        
      <div class="widget-child-card">
        <div style="float:left; margin-left: 15px;">
          <h1 id="data-history-city" style="display: inline-block;"></h1>&nbsp;<h1 id="data-history-country" style="display: inline-block;"></h1>
          <p class="text-faded" style="position: relative; top: -20px; left: 0px;" id="data-history-precip"></p>
          <p style="font-size: 50px" id="data-history-temp"></p>
        </div>
        <div style="position:absolute; top: 150px; right:70px"><img class="img-widget" id="data-history-currentIcon" src="/images/blank.png"></div>
      </div>
      <hr id="city-horizontal-line" style="width: 90%; position:absolute; right: 40px;top:300px; opacity:40%; visibility: hidden;">
      <div style="position: absolute; top: 350px; left: 15px; width: 200px;">
        <div id="history-static-left" style="display: none; position:absolute; left:20px">
          <div>
            <div style="display: inline-block;">
              <img class="img-conditions" src="/images/temperature.png">
            </div>
            <div style="display: inline-block;">
              <p style="opacity: 40%;">Real Feel</p>
              <p style="font-size: 17px; margin-bottom: 0px;" id="data-history-realFeel">&nbsp;</p>
            </div>
          </div><br><br>
          <div>
            <div style="display: inline-block;">
              <img class="img-conditions" src="/images/drop.png">
            </div>
            <div style="display: inline-block;">
              <p style="opacity: 40%;">Precipitation</p>
              <p style="font-size: 17px; margin-bottom: 0px;" id="data-history-precipCond">&nbsp;</p>
            </div>
          </div>
        </div>
        
        <div id="history-static-right" style="display: none; position:absolute; left:220px; width: 200px;">
          <div>
            <div style="display: inline-block;">
              <img class="img-conditions" src="/images/wind.png">
            </div>
            <div style="display: inline-block;">
              <p style="opacity: 40%;">Wind</p>
              <p style="font-size: 17px; margin-bottom: 0px;" id="data-history-wind">&nbsp;</p>
            </div>
          </div><br><br>
          <div>
            <div style="display: inline-block;">
              <img class="img-conditions" src="/images/snowfall.png">
            </div>
            <div style="display: inline-block;">
              <p style="opacity: 40%;">Snowfall</p>
              <p style="font-size: 17px; margin-bottom: 0px;" id="data-history-snowfall">&nbsp;</p>
            </div>
          </div>
        </div>
        
      </div>
    
    </div>

  </div>

</div>

<script type="module" src="/js/cities.js"></script>
<script src="/js/getlocation.js"></script>

<%- include("partials/_footer") %>